$color-primary: #b30000;
$color-surface: #eceded;
$color-text: #737575;
$color-heading: #3f3f3f;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-mmd: 20px;
$spacing-lg: 24px;

$breakpoint-cards: 1140px;

@mixin container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4vw;
}
